/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
}

/*=== Background Colors ===*/

.purple-1 {
  background: #EAEAF4;
}

.purple-2 {
  background: #A9AAD2;
}

.purple-3 {
  background: #5356A4;
}

.purple-4 {
  background: #1F1F3D;;
}

/*=== Fonts ===*/

.header-text {
  color: #EAEAF4;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 10px;
}

.body-text {
  font: 'Open Sans' light;
}

/*=== menu section ===*/

.menu {
  height: 100%;
  width: 380px;
}

/*=== main section ===*/

.hidden {
  display: none;
}

.menu-open {
  padding: 2%;
  width: 35%;
  height: 90%;
}

.menu-close {
  display: hidden;
  padding: 2%;
  width: 35%;
  height: 90%;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.filter-card {
  color: #BFBFDD;
  margin: 2%;
  padding: 5% 0% 5% 0%;
}

.button-show-starred {
  background-color: #5356A4;
  border-style: none;
  width: 96%;
  padding: 3%;
  color: #E9E9F3;
  margin: 2%;
}

.form-text {
  text-align: left;
  padding: 3% 0 1% 0;
}

.input-title {
  display: flex;
  padding-bottom: 5%;
}

.input-body {
  padding: 5px;
  margin-bottom: 3%;
  padding-bottom: 3%;
}

.button-save {
  padding: 2%;
  margin-bottom: 2%;
  cursor: pointer;
  background-color: #353567;
  color: #E9E9F3;
}

.button-save[disabled] {
  cursor: default;
  opacity: 40%;
}

.search {
  display: flex;
  flex-direction: row;
  height: 10%;
}

.icon-search {
  height: 20px;
  width: 35px;
  padding: 3px;
  background: #353567;
}

.input-search {
  height: 20px;
  width: 95%;
}

.idea-cards {
  justify-content: center;
  flex-grow: 3;
  display: grid;
  grid-template-columns: 80%;
  grid-column-gap: 1rem;
  padding: 2%;
}

.card-body {
  padding-top: 10px;
  margin: 5px;
  font-weight: 300;
}

.card-title {
  margin-top: 10px;
  margin: 5px;
}

.card {
  display: grid;
  grid-template-columns: 1;
  border: 0.2rem solid grey;
  border-style: double;
  margin-top: 1rem;
  background-color: #FFFFFF;
}

.card img {
  height: 25px;
  padding-left: 2%;
  padding-right: 2%;
}

.card-banner-top {
  padding-bottom: 3px;
  display: flex;
  justify-content: space-between;
  height: 25px;
  background-color: #1F1F3D;
}

.card-footer {
  height: 25px;
  display: flex;
  justify-content: flex-start;
  background-color: #5357A5;
  color: #E9E9F3;
}

.comment-text {
  margin-bottom: 0;
  display: flex;
  align-self: center;
}

.ideas {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.idea-form {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  padding: 0 5% 0 5%;
  flex-grow: 1;
  text-align: center;
}

/*=== media queries ===*/

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  .banner-1 {
    background-color: #1F1F3D;
  }

  .header-text {
    font-size: 18px;
    padding: 10px;
  }

  .shadow {
    opacity: .25;
  }

  .banner {
    display: flex;
    justify-content: flex-start;
  }

  .filter-card {
    background-color: #1F1F3D;
    display: flex;
    padding: 2%;
    justify-content: flex-start;
  }

  .menu {
    height: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .idea-form {
    flex-grow: 1;
  }
}

@media only screen and (min-width: 601px) {
  .idea-cards {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .card {
    height: 9rem;
  }

  .card-left {
    margin-left: 1rem;
  }

  .card-right {
    margin-right: 1rem;
  }

  .navigation {
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
  }

  .menu {
    width: 15rem;
    height: 100%;
  }

  .open-menu {
    display: block;
    border-bottom: 2px solid #353567;
    border-top: 2px solid #353567;
    padding: 5% 7% 8%;
  }

  .menu-open {
    display: none;
  }

  .card img {
    height: 25px
  }

  .idea-form {
    padding: 0 10% 0 10%;
  }
}
